<header>
<pre class="ascii name">


 _______  _______  ______   _______ _________ _______        _________         _________
(  ____ )(  ___  )(  ___ \ (  ___  )\__   __/(  ____ \       \__   __/|\     /|\__   __/
| (    )|| (   ) || (   ) )| (   ) |   ) (   | (    \/          ) (   ( \   / )   ) (   
| (____)|| |   | || (__/ / | |   | |   | |   | (_____           | |    \ (_) /    | |   
|     __)| |   | ||  __ (  | |   | |   | |   (_____  )          | |     ) _ (     | |   
| (\ (   | |   | || (  \ \ | |   | |   | |         ) |          | |    / ( ) \    | |   
| ) \ \__| (___) || )___) )| (___) |   | |   /\____) |   _      | |   ( /   \ )   | |   
|/   \__/(_______)|/ \___/ (_______)   )_(   \_______)  (_)     )_(   |/     \|   )_(   


                              
<center>
ebobgf . gkg
 <br>
A digital cybersecurity scrapbook of Het Joshi 
</center>

</pre>
</header>
